body {
    background-color: white;
    font-family: 'Roboto';
    color: #742BBA;
    /*overflow: hidden;*/
}

::placeholder{
    color: #742BBA;
}

.makepost input[type=text]{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 25px;
    gap: 10px;
    
    width: 620px;
    height: 37px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.makepost {
    padding-left: 75px;
    background-color: white;
}

.maintitle {
    width: 100%;
height: 35px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 35px;

color: #742BBA;
}

.subtitle{
    width: 327px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 35px;

color: #742BBA;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.nav {
    z-index:1;
}
  
.rating {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    align-items: middle;
    line-height: 30px;
    width:30px;
    height: 30px;
    /* padding: 10px; */
    border: none;
    border-radius: 15px;
    /* margin: 5px; */
    background-color: #ffffff;
    color: #742BBA;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.colored {
    background-color: #742bba;
    color:#FFC055;
}

.charlimit{
    font-size: 10px;
}

.content{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 20px;
gap: 10px;

width: 625px;
height: 249px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;
border:none;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.submit{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;
gap: 10px;
text-decoration: none;
width: 130px;
height: 45px;
color:#FFC055;
background: #742BBA;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: none;
/* Inside auto layout */
font-size: 25px;
font-weight: 500px;
flex: none;
order: 1;
flex-grow: 0;
}