.review-title2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-26xl);
  font-weight: 500;
}
.by2 {
  position: relative;
  font-weight: 300;
}
.duvylfyluksq2,
.picture-icon4 {
  position: relative;
  cursor: pointer;
}
.picture-icon4 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: cover;
}
.duvylfyluksq2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-darkorchid-100);
  text-align: left;
}
.reviewername2,
.sublayout2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sublayout2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 769px;
  flex-shrink: 0;
}
.reviewername2 {
  align-self: stretch;
  padding: var(--padding-3xs) 0;
}
.rating5 {
  font-weight: 300;
}
.rating-xy102,
.vector-icon6 {
  position: relative;
  flex-shrink: 0;
}
.rating-xy102 {
  display: inline-block;
  width: 124px;
  height: 22px;
}
.vector-icon6 {
  width: 25px;
  height: 23.75px;
}
.rating4,
.reviewheader2 {
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.reviewheader2 {
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
}
.comments2,
.vector-icon7 {
  position: relative;
  flex-shrink: 0;
}
.comments2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-darkorchid-100);
  text-align: left;
  display: inline-block;
  width: 99px;
  height: 22px;
}
.vector-icon7 {
  width: 22px;
  height: 11px;
}
.commentsdropdown2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.likebutton-icon,
.likes3 {
  position: relative;
  flex-shrink: 0;
}
.likes3 {
  display: inline-block;
  width: 70px;
  height: 18px;
}
.likebutton-icon {
  width: 25px;
  height: 25px;
}
.options1,
.review5,
.reviewfooter2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.options1 {
  width: 120px;
  flex-shrink: 0;
  align-items: center;
}
.review5,
.reviewfooter2 {
  align-self: stretch;
  align-items: flex-end;
}
.review5 {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-bottom: 3px solid var(--color-darkorchid-200);
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
