.body13,
.home-signedin {
  position: absolute;
  left: 0;
  width: 100%;
}
.body13 {
  top: 133px;
  width:100%;
  overflow-x:auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.home-signedin {
  width:100%;
  top: 0;
  background-color: var(--color-white);
  height: 1080px;
}
.home-signedin-parent {
  width: 100%;
  height: 1080px;
}
