.showing,
.usrnamee {
  position: relative;
  display: inline-block;
  width: 414px;
  height: 49px;
  flex-shrink: 0;
}
.usrnamee {
  font-weight: 600;
  width: 614px;
}
.postslist,
.reviewsheader {
  display: flex;
  justify-content: flex-start;
}
.reviewsheader {
  height: 59px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.postslist {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24xl);
}
.back7,
.backicon3 {
  position: relative;
  flex-shrink: 0;
}
.backicon3 {
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.back7 {
  display: inline-block;
  width: 116px;
  height: 33px;
}
.back6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.navigate3 {
  display: inline-block;
  width: 95px;
  height: 33px;
}
.navigate3,
.next-icon3,
.next7 {
  position: relative;
  flex-shrink: 0;
}
.next7 {
  display: inline-block;
  width: 65px;
  height: 33px;
}
.next-icon3 {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.paginationfooter3,
.reviewlist {
  width:100%;
  display: flex;
  padding: 0 0 var(--padding-6xl);
}
.paginationfooter3 {
  width: 60%;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.reviewlist {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  font-size: var(--font-size-11xl);
}
.body3,
.reviews-duvylfyluksq-in {
  position: absolute;
  left: 0;
  width: 100%;
}
.body3 {
  top: 133px;
  height: 947px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.reviews-duvylfyluksq-in {
  top: 0;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
}
.reviews-duvylfyluksq-in-parent {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
