.scrolllist1 {
  position: absolute;
  top: 133px;
  left: 595px;
  width: 1321px;
  height: 947px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-6xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.vector-icon10 {
  position: relative;
  width: 59.5px;
  height: 53.5px;
  flex-shrink: 0;
}
.logo1 {
  border-radius: var(--br-2xs);
  background-color: var(--color-darkorchid-100);
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-24xl) var(--padding-18xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.movies3 {
  margin: 0;
}
.genres4,
.movies2,
.tv-shows1 {
  position: relative;
  display: inline-block;
  width: 93px;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}
.genres4,
.tv-shows1 {
  width: 118px;
  height: 25px;
}
.genres4 {
  width: 83px;
  height: 24px;
}
.navbar-lhs1 {
  width: 406px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.search-movies-tv1,
.vector-icon11 {
  position: relative;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}
.search-movies-tv1 {
  display: inline-block;
  width: 227px;
  height: 21px;
}
.searchbar1 {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 743px;
  height: 53px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.fluentcompose-24-filled-icon1 {
  overflow: hidden;
}
.fluentcompose-24-filled-icon1,
.profilemenu-icon1 {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  cursor: pointer;
}
.navbar-rhs1 {
  width: 321px;
  height: 95px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar1,
.tvshowbrowse-in {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
}
.navbar1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 133px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-56xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.tvshowbrowse-in {
  height: 1080px;
}
.tvshowbrowse-in-parent {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
