.genres2 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 147px;
  height: 45px;
  flex-shrink: 0;
}
.body12,
.list {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-6xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.body12 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 1920px;
  height: 947px;
  overflow-y: auto;
  padding: var(--padding-56xl);
  box-sizing: border-box;
}
.genres-out {
  position: relative;
  background-color: var(--color-white);
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
}
.genres-out-parent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
