.write-a-review {
  margin: 0;

}
.what-are-you-container,
.write-a-review-container {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.write-a-review-container {
  font-size: var(--font-size-26xl);
  font-weight: 600;
  width: 299px;
  height: 43px;
}
.what-are-you-container {
  font-weight: 500;
  width: 327px;
  height: 28px;
}
.movieorshow,
.select2 {
  display: flex;
  justify-content: flex-start;
}
.select2 {
  border: 0;
  font-weight: 200;
  font-family: var(--font-roboto);
  font-size: var(--font-size-xl);
  background-color: var(--color-white);
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 620px;
  height: 37px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
}
.movieorshow {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.rating5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 97px;
  height: 32px;
  flex-shrink: 0;
}
.number,
.ratingbubble-child {
  position: absolute;
  top: -6px;
  left: -10px;
  width: 50px;
  height: 50px;
}
.number {
  top: 7px;
  left: 10px;
  display: inline-block;
  width: 9px;
  height: 15px;
}
.ratingbubble {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.number8 {
  position: absolute;
  top: 7px;
  left: 11px;
  display: inline-block;
  width: 8px;
  height: 16px;
}
.number9,
.ratingbubble-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.number9 {
  top: 7px;
  left: 5px;
  display: inline-block;
  width: 19px;
  height: 15px;
}
.ratingbubble9 {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.ratinglist,
.title6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratinglist {
  flex-direction: row;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
}
.title6 {
  border: 0;
  background-color: transparent;
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-11xl);
  flex-direction: column;
}
.reviewbody1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 212px;
  height: 32px;
  flex-shrink: 0;
}
.body19,
.login {
  font-family: var(--font-roboto);
  flex-shrink: 0;
}
.body19 {
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  font-weight: 300;
  font-size: var(--font-size-xl);
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding:17px 14px;
}
.login {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  color: var(--color-goldenrod);
  text-align: left;
  display: inline-block;
  width: 62px;
  height: 28px;
}
.post {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-sm);
  background-color: var(--color-darkorchid-100);
  border-radius: var(--br-mini);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 214px;
  height: 75px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.body18,
.end {
  width: 1358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-5);
}
.body18 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 1920px;
  height: 947px;
  overflow-y: auto;
  padding: var(--padding-56xl);
  box-sizing: border-box;
  gap: var(--gap-56xl);
}
.makepost {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  /* text-align: left; */
  font-size: var(--font-size-11xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}

.uncolored {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: middle;
  line-height: 30px;
  width:30px;
  height: 30px;
  /* padding: 10px; */
  border: none;
  border-radius: 15px;
  /* margin: 5px; */
  background-color: #ffffff;
  color: #742BBA;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.colored {
  background-color: #742bba;
  color:#FFC055;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: middle;
  line-height: 30px;
  width:30px;
  height: 30px;
  /* padding: 10px; */
  border: none;
  border-radius: 15px;
  /* margin: 5px; */
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.body19:focus{
  outline:none;
}