.mixedbrowse-in::-webkit-scrollbar{
    width:0px;
    background-color: transparent;
  }
  
  
  .scrolllist {
    position: absolute;
    top: 133px;
    left: 40%;
    width: 65%;
    height: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-6xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }
  
  .mixedbrowse-in {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    /* max-width:100%; */
    position: relative;
    width: 100%;
    height: 2000px;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-darkorchid-100);
    font-family: var(--font-roboto);
    overflow-x:hidden;
  }
  
  .sort-by,
  .vector-icon12,
  .vector-icon13 {
    position: relative;
    height: 18px;
    flex-shrink: 0;
  }
  .sort-by {
    font-weight: 500;
    display: inline-block;
    width: 50%;
  }
  .vector-icon12,.vector-icon13 {
    width: 20px;
  }
  .ascendingdescendinginteraction,
  .sortbyheader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .sortbyheader {
    align-items: center;
  }
  .button,
  .popularity1,
  .rating3 {
    position: relative;
    flex-shrink: 0;
  }
  .button {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkorchid-100);
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    cursor:pointer;
  }
  .popularity1,
  .rating3 {
    display: inline-block;
    width: 45px;
    height: 19px;
  }
  .popularity1 {
    width: 68px;
  }
  .horizontallist,
  .popularity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-12xl);
    width:50;
  }
  .horizontallist {
    align-items: flex-start;
    gap: var(--gap-52xl);
  }
  .alphabetical,
  .releasedate1 {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 19px;
    flex-shrink: 0;
  }
  .alphabetical {
    width: 95px;
  }
  .horizontallist1,
  .sort,
  .sortfieldsinteraction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xl);
  }
  .sort,
  .sortfieldsinteraction {
    flex-direction: column;
    gap: var(--gap-6xl);
  }
  .sort {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 160px;
    flex-shrink: 0;
    padding: var(--padding-xl) var(--padding-mini);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-11xl);
  }
  .filter1,
  .vector-icon14 {
    /* top:10%; */
    position: relative;
    flex-shrink: 0;
  }
  #sorting{
    cursor:pointer;
  }
  .filter1 {
    font-weight: 500;
    display: inline-block;
    height: 18px;
  }
  .vector-icon14 {
    width: 21px;
    height: 19px;
  }
  .filterheader {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-15xl);
  }
  .adventure {
    position: absolute;
    top: 6px;
    left: 22.5px;
    display: inline-block;
    width: 68px;
    height: 20px;
  }
  .filterbrowseinteraction {
    position: relative;
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 31px;
    flex-shrink: 0;
    cursor:pointer;
  }
  .horizontalrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-33xl);
    padding-left:15px;
  }
  .filter,
  .genretags,
  .left2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background-color: black; */
  }
  .genretags {
    width: 443px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
  }
  .filter,
  .left2 {
    align-items: center;
  }
  .filter {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width:98%;
    height: 597px;
    flex-shrink: 0;
    /* padding: var(--padding-xl); */
    box-sizing: border-box;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .left2 {
    position: absolute;
    top: 133px;
    left: 0;
    width: 35%;
    height: 947px;
    justify-content: center;
    gap: var(--gap-21xl);
  }
  .moviebrowse-out {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    /* max-width:100%; */
    position: relative;
    width: 100%;
    height: 2000px;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-darkorchid-100);
    font-family: var(--font-roboto);
    overflow-x:hidden;
  }
  
  .colored{
    background-color: var(--color-darkorchid-100);
  }
  
  .colored2{
    background-color: var(--color-darkorchid-100);
    color:#FFC055;
  }
  
  .coloured{
    background-color:#FFC055;
  }