.body20 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 100%;
  height: 947px;
  display: flex;
  flex-direction: row;
  /* padding: var(--padding-56xl) var(--padding-538xl); */
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
}

