.indocked1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.indocked,
.indocked1,
.review {
  display: flex;
  flex-direction: column;
}
.review {
  align-self: stretch;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.indocked {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
