.vector-icon,
.watchlist {
  position: relative;
  flex-shrink: 0;
}
.watchlist-inother-parent{
  width:100%;
}
.watchlist {
  font-weight: 600;
  display: inline-block;
  width: 190px;
  height: 49px;
}
.vector-icon {
  width: 40px;
  height: 30px;
}
.watchlistheader {
  width: 257px;
  height: 59px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.watchlistdisplay {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.back1,
.backicon {
  position: relative;
  flex-shrink: 0;
}
.backicon {
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.back1 {
  display: inline-block;
  width: 116px;
  height: 33px;
}
.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.navigate {
  display: inline-block;
  width: 95px;
  height: 33px;
}
.navigate,
.next-icon,
.next1 {
  position: relative;
  flex-shrink: 0;
}
.next1 {
  display: inline-block;
  width: 65px;
  height: 33px;
}
.next-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.paginationfooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-11xl);
}
.body,
.watchlist-inother {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
}
.body {
  top: 133px;
  height: 947px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.watchlist-inother {
  top: 0;
  height: 1080px;
  overflow: hidden;
}
.watchlist-inother-parent {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
