.joker-icon2 {
  position: relative;
  width: 187px;
  height: 187px;
  flex-shrink: 0;
  object-fit: cover;
}
.picture1 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-12xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.season1,
.title8 {
  display: inline-block;
}
.title8 {
  position: relative;
  font-weight: 500;
  width: 779px;
  height: 66px;
  flex-shrink: 0;
}
.season1 {
  font-size: var(--font-size-21xl);
  width: 168px;
  height: 43px;
}
.season1,
.vector-icon16,
.xy103 {
  position: relative;
  flex-shrink: 0;
}
.xy103 {
  display: inline-block;
  width: 86px;
  height: 30px;
}
.vector-icon16 {
  width: 25px;
  height: 23.75px;
}
.rating7 {
  width: 158px;
  height: 41px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-11xl);
}
.sublayout3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.right3,
.watchlistdisplay-tvshow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.watchlistdisplay-tvshow {
  width:100%;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  padding: var(--padding-21xl);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
