.commenttttt{
    width:80%;
    height:10%;
    /* top:-10%; */
    border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  padding: var(--padding-3xs) var(--padding-21xl);
  gap: var(--gap-21xl);
  text-align: left;
  align-items: center;
  font-size: 20px;
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
  overflow-y:hidden;
  overflow-x: hidden;
}
.contentt{
    top:-10%;
}