.tvshowcard-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.genre7 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 30%;
  height: 28px;
  flex-shrink: 0;
  z-index:2;
  top:110px;
}
.details7 {
  position: absolute;
  top: 44px;
  left: 15px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .linearfill7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    180deg,
    #742bba,
    rgba(116, 43, 186, 0.82),
    rgba(197, 167, 226, 0.32) 37.5%,
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
} */
.genrecard {
  position: relative;
  width: 90%;
  height: 200px;
  flex-shrink: 0;
  cursor: pointer;
}
.horizontalrow14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-131xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
