.sort-by2,
.vector-icon41 {
  position: relative;
  height: 18px;
  flex-shrink: 0;
}
.sort-by2 {
  display: inline-block;
  width: 52px;
}
.vector-icon41 {
  width: 20px;
}
.ascendingdescendinginteraction2,
.sortbyheader3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.sortbyheader3 {
  align-items: center;
}
.button8,
.rating23 {
  position: relative;
  flex-shrink: 0;
}
.button8 {
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorchid-100);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.rating23 {
  display: inline-block;
  width: 45px;
  height: 19px;
}
.rating22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.popularity5 {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 19px;
  flex-shrink: 0;
}
.horizontallist2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.alphabetical1,
.releasedate3 {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 19px;
  flex-shrink: 0;
}
.alphabetical1 {
  width: 95px;
}
.horizontallist3,
.sort1,
.sortfieldsinteraction1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.sort1,
.sortfieldsinteraction1 {
  flex-direction: column;
  gap: var(--gap-6xl);
}
.sort1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 515px;
  height: 160px;
  flex-shrink: 0;
  padding: var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.filter3,
.vector-icon43 {
  position: relative;
  flex-shrink: 0;
}
.filter3 {
  display: inline-block;
  width: 38px;
  height: 18px;
}
.vector-icon43 {
  width: 21px;
  height: 19px;
}
.filterheader1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.adventure48 {
  position: absolute;
  top: 6px;
  left: 22.5px;
  display: inline-block;
  width: 68px;
  height: 20px;
}
.filterbrowseinteraction42,
.filterbrowseinteraction43 {
  position: relative;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 113px;
  height: 31px;
  flex-shrink: 0;
}
.filterbrowseinteraction42 {
  background-color: var(--color-darkorchid-100);
  color: var(--color-goldenrod);
}
.filterbrowseinteraction43 {
  background-color: var(--color-white);
}
.horizontalrow15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-33xl);
}
.filter2,
.genretags2,
.left5 {
  display: flex;
  flex-direction: column;
}
.genretags2 {
  width: 443px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.filter2,
.left5 {
  align-items: center;
}
.filter2 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 515px;
  height: 597px;
  flex-shrink: 0;
  padding: var(--padding-xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.left5 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 591px;
  height: 947px;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
