.moviecard-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon30,
.xy106 {
  top:145px;
  z-index:2;
  position: relative;
  flex-shrink: 0;
}
.xy106 {
  display: inline-block;
  width: 42px;
  height: 18px;
}
.vector-icon30 {
  width: 17.5px;
  height: 15px;
}
.rating14 {
  width: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title11 {
  top:145px;
  z-index:2;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 423px;
  height: 18px;
  flex-shrink: 0;
}
.details {
  position: absolute;
  top: 60px;
  left: 17px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
/* .linearfill {
  position: absolute;
  top: 292px;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    180deg,
    #742bba,
    rgba(116, 43, 186, 0.82),
    rgba(197, 167, 226, 0.32) 37.5%,
    rgba(255, 255, 255, 0)
  );
  width: 475px;
  height: 292px;
  overflow: hidden;
} */
.moviecard,
.season3 {
  position: relative;
  flex-shrink: 0;
}
.moviecard {
  width: 475px;
  height: 292px;
  cursor: pointer;
}
.season3 {
  top:145px;
  display: inline-block;
  width: 63px;
  height: 18px;
  z-index:2;
}
.details1 {
  position: absolute;
  top: 78px;
  left: 17px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
/* .linearfill1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    180deg,
    #742bba,
    rgba(116, 43, 186, 0.82),
    rgba(197, 167, 226, 0.32) 37.5%,
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
} */
.moremovieslikethis50::-webkit-scrollbar{
  width:0px;
  background-color: transparent;
}
.moremovieslikethis50 {
  width: 80%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-31xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
  overflow-x:auto;
}
