.top-movies2::-webkit-scrollbar{
  width: 0px;
  background-color: transparent; 
}

.top-movies1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 245px;
  height: 56px;
  flex-shrink: 0;
}
.moviecard-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon52,
.xy1022 {
  z-index:2;
  top:165px;
  position: relative;
  flex-shrink: 0;
}
.xy1022 {
  display: inline-block;
  width: 42px;
  height: 18px;
}
.vector-icon52 {
  width: 17.5px;
  height: 15px;
}
.rating32 {
  width: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title27 {
  z-index:2;
  top:165px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 423px;
  flex-shrink: 0;
  overflow-x:hidden;
  white-space: nowrap;
}
.details17 {
  position: absolute;
  top: 60px;
  left: 17px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.gradient-overlay {
  z-index:1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -100%;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0),
    rgba(82,30,152,1)
  );
  overflow: hidden;
}

.moviecard6 {
  position: relative;
  width: 475px;
  height: 292px;
  flex-shrink: 0;
  cursor: pointer;
}
.top-movies,
.top-movies2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.top-movies2 {
  overflow-x: auto;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl-5);
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.top-movies {
  height: 378px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
