.vector-icon17 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

a{
  text-decoration: none;
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}

.navbar2{
  color: #742BBA;
  font-family: 'Roboto';
  overflow: visible;
}
::placeholder{
  color: #742BBA;
  font-family: 'Roboto';
}
.logo2 {
  border-radius: var(--br-2xs);
  background-color: var(--color-darkorchid-100);
  width: max(30px,3.5%);
  aspect-ratio: 1;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding: 0.6%;
  padding-left: 0.6%;
  padding-right: 0.3%;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  cursor: pointer;
  
}
.movies5 {
  margin: 0;
}
.genres5,
.movies4,
.tv-shows2 {
  /* position: relative; */
  font-weight: 500;
  display: inline-block;
  width: 40%;
  height: 50%;
  flex-shrink: 0;
  cursor: pointer;
}
/* .genres5,
.tv-shows2 {
  width: 118px;
  height: 25px;
}*/
.tv-shows2 {
  width: 50%;
  height: 50%;
}
.navbar-lhs2 {
  width: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}
.search-movies-tv2,
.vector-icon18 {
  position: relative;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}
.search-movies-tv2 {
  font-weight: 200;
  display: inline-block;
  width: 227px;
  height: 21px;
}
.searchbar2 {
  margin-left: 10%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}

.type{
  border:none;
  width:100%;
}

input:focus{
  outline:none;
}
.fluentcompose-24-filled-icon2 {
  overflow: hidden;
}
.fluentcompose-24-filled-icon2
{
  position: relative;
  width: max(30px,25%);
  aspect-ratio: 1;
  flex-shrink: 0;
  cursor: pointer;
}

.profilemenu-icon2 {
  position: relative;
  width: 90%;
  aspect-ratio: 1;
  flex-shrink: 0;
  cursor: pointer;
}



.navbar-rhs2,
.navbar2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
}
.navbar-rhs2 {
  margin-left: auto;
  margin-right: 3%;
  width: 15%;
  height: 150%;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 42%;
}
.navbar2 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 8%;
  padding: 2% 4%;
  padding-right: 0;
  margin-right: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 2%;
  text-align: left;
  font-size: 20px;
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}


.dropdown{
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
  position: relative;
  font-size:13px;
  display: none;
flex-direction: row;
justify-content: center;
background-color: #FFFFFF;
/* border-radius: 10px; */
align-items: center;
padding: 0px 25px;
/* width: 500%; */
/* height: 150px; */
left: -90%;
top: 450%;
opacity:100%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
white-space: nowrap;
overflow: visible;
}

.rhs:hover .dropdown {
  display: inline-block;
  
}


.dropdown .name{
  font-weight:700px;
  
}

.signedin {
  background-color: white;
  border: none;
  cursor: pointer;
  overflow: visible;
}

.navbar2 .rhs {
  /* width: 100px;
  height: 27px; */
  display:flex;
  text-align: right;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  flex: none;
  order: 1;
  flex-grow: 0;
  overflow: visible;
}

