.vector-icon83 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.navbar5{
  color: #742BBA;
  font-family: 'Roboto';
  overflow: visible;
}
.logo5 {
    border-radius: var(--br-2xs);
    background-color: var(--color-darkorchid-100);
    width: max(30px,3.5%);
    aspect-ratio: 1;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: 0.6%;
    padding-left: 0.6%;
    padding-right: 0.3%;
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    cursor: pointer;
  }


.type{
    border:none;
    width:100%;
  }
  
  input:focus{
    outline:none;
  }

.movies11 {
  margin: 0;
}
.genres12,
.movies10,
.tv-shows5 {
  font-weight: 500;
  display: inline-block;
  width: 40%;
  height: 50%;
  flex-shrink: 0;
  cursor: pointer;
}
/* .genres12,
.tv-shows5 {
  width: 118px;
  height: 25px;
} */
.tv-shows5 {
  width: 50%;
  height: 50%;
}
.navbar-lhs5 {
  width: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}
.search-movies-tv5,
.vector-icon84 {
  position: relative;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}
.search-movies-tv5 {
  font-weight: 200;
  display: inline-block;
  width: 227px;
  height: 21px;
}
.searchbar5 {
  margin-left: 10%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.sign-in2,
.vector-icon85 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.sign-in2 {
  font-weight: 500;
  display: inline-block;
  width: 81px;
  height: 27px;
}
.navbar-rhs5 {
  margin-left: auto;
  margin-right: 3%;
  width: 15%;
  height: 150%;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 42%;
}
.navbar-rhs5,
.navbar5,
.right12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.right12 {
  width: 1139px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.navbar5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 8%;
  padding: 2% 4%;
  padding-right: 0;
  margin-right: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 2%;
  text-align: left;
  font-size: 20px;
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
