.vector-icon83 {
  position: relative;
  width: 59.5px;
  height: 53.5px;
  flex-shrink: 0;
}
.logo5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-24xl) var(--padding-18xl);
  background-color: var(--color-darkorchid-100);
  border-radius: var(--br-2xs);
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.movies11 {
  margin: 0;
}
.genres12,
.movies10,
.tv-shows5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 93px;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}
.genres12,
.tv-shows5 {
  width: 118px;
  height: 25px;
}
.genres12 {
  width: 83px;
  height: 24px;
}
.navbar-lhs5 {
  width: 406px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-movies-tv5,
.vector-icon84 {
  position: relative;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}
.search-movies-tv5 {
  font-weight: 200;
  display: inline-block;
  width: 227px;
  height: 21px;
}
.searchbar5 {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 743px;
  height: 53px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sign-in2,
.vector-icon85 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.sign-in2 {
  font-weight: 500;
  display: inline-block;
  width: 81px;
  height: 27px;
}
.navbar-rhs5 {
  width: 148px;
  height: 95px;
  flex-shrink: 0;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.navbar-rhs5,
.navbar5,
.right12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.right12 {
  width: 1139px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.navbar5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 133px;
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-56xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
