.review-title {
  position: relative;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  display: inline-block;
  width: 800px;
}
.by {
  position: relative;
  font-weight: 300;
}
.picture-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: cover;
}
.duvylfyluksq,
.picture-icon {
  position: relative;
  cursor: pointer;
}
.reviewername,
.sublayout6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sublayout6 {
  width: 769px;
  flex-shrink: 0;
}
.reviewername {
  width: 800px;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.rating11 {
  font-weight: 300;
}
.rating-xy10,
.vector-icon24 {
  position: relative;
  flex-shrink: 0;
}
.rating-xy10 {
  display: inline-block;
  width: 124px;
  height: 22px;
}
.vector-icon24 {
  width: 25px;
  height: 23.75px;
}
.rating10,
.reviewheader {
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.reviewheader {
  width: 800px;
  height: 130px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.lorem-ipsum-dolor {
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 1330px;
  height: 249px;
}
.comments,
.lorem-ipsum-dolor,
.vector-icon25 {
  position: relative;
  flex-shrink: 0;
}
.comments {
  display: inline-block;
  width: 99px;
  height: 22px;
}
.vector-icon25 {
  width: 22px;
  height: 11px;
}
.commentsdropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.likebutton-icon,
.likes2 {
  position: relative;
  flex-shrink: 0;
}
.likes2 {
  display: inline-block;
  width: 70px;
  height: 18px;
}
.likebutton-icon {
  width: 25px;
  height: 25px;
}
.options,
.reviewfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.options {
  width: 120px;
  flex-shrink: 0;
  align-items: center;
}
.reviewfooter {
  width: 1331px;
  align-items: flex-end;
}
.review1 {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-bottom: 3px solid var(--color-darkorchid-200);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.add-comment,
.commentbody {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 193px;
  height: 28px;
  flex-shrink: 0;
}
.commentbody {
  font-weight: 300;
  width: 184px;
  height: 18px;
}
.bodyframe {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 1330px;
  height: 115px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.max-characters {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 91px;
  height: 9px;
  flex-shrink: 0;
}
.maxchar {
  width: 1330px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-3xs);
}
.body21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
}
.comment1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 28px;
  flex-shrink: 0;
}
.comment {
  border-radius: var(--br-mini);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 249px;
  height: 63px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--color-goldenrod);
}
.addcomment {
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-top: 3px solid var(--color-darkorchid-200);
  padding: var(--padding-xl);
  gap: var(--gap-11xl);
  font-size: var(--font-size-11xl);
}
.addcomment,
.indocked,
.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.review {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
