.trending-tv-shows1 {
  margin: 0;
}
.trending-tv-shows-container {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 401px;
  height: 53px;
  flex-shrink: 0;
}
.tvshowcard-icon20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon76,
.xy1046 {
  position: relative;
  top:150px;
  z-index:2;
}
.xy1046 {
  display: inline-block;
  width: 42px;
  height: 18px;
}
.vector-icon76 {
  width: 17.5px;
  height: 15px;
}
.rating56 {
  width: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.season21,
.title51 {
  top:145px;
  position: relative;
  display: inline-block;
  height: 18px;
  flex-shrink: 0;
  z-index:2;
}
.title51 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 423px;
}
.season21 {
  width: 63px;
}
.details41 {
  position: absolute;
  top: 78px;
  left: 17px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.gradient-overlay {
  z-index:1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -100%;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0),
    rgba(82,30,152,1)
  );
  overflow: hidden;
}
.tvshowcard17 {
  position: relative;
  width: 475px;
  height: 292px;
  flex-shrink: 0;
  cursor: pointer;
}
.trending-tv-shows2 {
  width: 1770px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl-5);
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.trending-tv-shows {
  height: 394px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
