.duvylfyluksq2,
.picture-icon2 {
  position: relative;
  flex-shrink: 0;
}
.picture-icon2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.duvylfyluksq2 {
  font-weight: 500;
  display: inline-block;
  width: 222px;
  height: 42px;
}
.left3 {
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 509px;
  height: 590px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-46xl) var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.bio3,
.biotext {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.bio3 {
  font-weight: 500;
  width: 46px;
  height: 32px;
}
.biotext {
  width: 1057px;
  height: 72px;
}
.bio2 {
  width: 1028px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.interests2 {
  margin: 0;
}
.adventure42,
.interests1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.interests1 {
  font-weight: 500;
  width: 121px;
  height: 31px;
}
.adventure42 {
  width: 91px;
  height: 18px;
}
.genre26 {
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 142px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.genres7,
.interests {
  width: 858px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.genres7 {
  height: 36px;
  flex-direction: row;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-goldenrod);
}
.interests {
  height: 97px;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.num,
.posts4,
.stats1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.stats1 {
  font-weight: 500;
  width: 71px;
  height: 31px;
}
.num,
.posts4 {
  width: 105px;
  height: 33px;
}
.posts4 {
  font-weight: 300;
  width: 77px;
}
.posts3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.comments2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 153px;
  height: 33px;
  flex-shrink: 0;
}
.statinfo,
.stats {
  justify-content: flex-start;
}
.statinfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-41xl);
}
.stats {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.right7,
.stats,
.userprofile {
  display: flex;
  align-items: flex-start;
}
.right7 {
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 1186px;
  height: 586px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-46xl) var(--padding-56xl);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.userprofile {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-56xl);
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
