.vector-icon86 {
  position: relative;
  width: 82px;
  height: 76px;
  flex-shrink: 0;
}
.logo6 {
  border-radius: var(--br-2xs);
  background-color: var(--color-darkorchid-100);
  width: 121px;
  height: 121px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-top: 8%;
  justify-content: space-between;
  vertical-align: middle;
}
.welcome {
  position: relative;
  display: inline-block;
  width: 282px;
  height: 44px;
  flex-shrink: 0;
}
.header3 {
  height: 215px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkorchid-100);
  font-family: var(--font-roboto);
}
